{% extends 'base.html' %}
{% block content %}
<h1>Car List</h1>
<div style="display: flex; justify-content: center; gap: 20px; flex-wrap: wrap; margin-top: 40px;">
{% for trip in trips %}
<div class="card" style="min-width: 30%; min-height: 200px; flex: 1; text-align: center; padding: 20px; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); border-radius: 10px; background-color: lightslategray;">
    <div class="card-content">
        <div style="display: flex; justify-content: space-between; align-items: center; flex-direction: row;">
            <h3 style="color: maroon;">Trip {{ trip.id }}</h3>
            <p style="color: black; ">{{ trip.origin_address }} → {{ trip.destination_address }}</p>
            <p style="color: black;">Distance: {{ trip.distance_text }} • Duration: {{ trip.duration_text }}</p>
        </div>
    </div>
</div>
        {% empty %}
        <p>No Trips</p>
        {% endfor %}
</div>

{% endblock %}