{% extends 'base.html' %}
{% block content %}
<h1>Car Details</h1>
<div class="card" style="max-width: 700px; text-align: center; padding: 20px; 
display: flex; justify-content: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); border-radius: 10px; background-color: rgb(121, 114, 70) ;">
  <div class="card-content" style="align-content: center;">
    <div style="display: flex; justify-content: center; margin-bottom: 20px;">
      <div>
        <span class="card-title" style="color: black ;font-weight: bold;font-size: xx-large">{{ car.name }} {{ car.model }}
          <p style="color: black ; font-size: xx-large ;"> {{ car.year }}</p>
        </span>
          <div>
        {% load static %}
          <img src="{% static car.image|cut:'main_app/static/' %}" width="660px" height="300px" alt="Car Image">
          </div>
      </div>
    </div>
    <div class="card-action">
      <a href="{% url 'cars_update' car.id %}">Edit</a>
      <a href="{% url 'cars_delete' car.id %}">Delete</a>
    </div>
  </div>
</div>
<div>
    <div style="display: flex; justify-content: left; margin-bottom: 20px;">
      <a class="btn btn-danger" href="{% url 'book_trip' car.id %}">Book this car</a>
    </div>
    <table class="striped">
      <thead>
    {% endblock %}